body {
    background-color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


html {
    scroll-behavior: smooth;
}

ul {
    background-color: rgb(4, 177, 177);
    list-style: none;
    font-size: 20px;
    overflow: hidden;
    top: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 50px 10px 50px 10px;
    margin: 0;
}

.logo {
    float: left;
    font-size: 25px;
}

.list {
    float: right;
    padding: 0px 20px;
    font-style: normal;
}

li {
    text-align: center;
    font-style: italic;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover:not(.active) {
    color: rgb(68, 66, 66);
}

.active {
    color:rgb(68, 65, 65);
}

.content1 {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 30% auto;
    padding: 30px 30px;
    padding-top: 150px;
    padding-left: 75px;
    padding-right: 75px;
}

.content1 .text1 {
    background-color:rgb(192, 189, 189) ;
    padding-left: 20px;
    padding-right: 20px;
}

.content1 img {
    height: auto;
    width: 100%;
    max-width: 400px;
}

.content2 {
    background-color: whitesmoke;;
    padding: 30px 30px;
    padding-left: 75px;
    padding-right: 75px;
    display: grid;
    grid-template-columns: 80% auto;
}

.content2 .text2 {
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(192, 189, 189);
}

.content2 img {
    height: autp;
    width: 100%;
    max-width: 300px;
}

.content3 {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 30% auto;
    padding: 30px 30px;
    padding-left: 75px;
    padding-right: 75px;
}

.content3 .text3 {
    background-color:rgb(192, 189, 189) ;
    padding-left: 20px;
    padding-right: 20px;
}

.content3 img {
    height: auto;
    width: 100%;
    max-width: 400px;
    padding-right: 20px;
}

.content4 {
    background-color: whitesmoke;
    display: grid; 
    grid-template-columns: 70% auto;
    padding: 30px 30px;
    padding-left: 75px;
    padding-right: 75px;
}

.content4 .text4 {
    background-color:rgb(192, 189, 189) ;
    padding-left: 20px;
    padding-right: 20px;
}

.content4 img {
    height: auto;
    width: 100%;
    max-width: 400px;
}

.content5 {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 20% auto;
    padding: 30px 30px;
    padding-left: 75px;
    padding-right: 75px;
}

.content5 .text5 {
    background-color:rgb(192, 189, 189) ;
    padding-left: 20px;
    padding-right: 20px;
}

.content5 img {
    height: auto;
    width: 100%;
    max-width: 300px;
}

#sejarah, #matrikulasi, #kantin, #perpustakaan {
    padding-top: 200px;
    margin-top: -200px;
}

.footer-main {
    padding: 24px 60px;
    color: white;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 100%;
    justify-items: center;
  }
  
  @media (max-width: 1024px) {
    .footer-grid {
      padding-left: 20px;
    }
  }
  
  .footer-grid p {
    margin: 10px 0;
  }